@{
    ViewBag.Title = "Unconfirmed Account";
}

<div class="alert alert-dismissible alert-danger">
    <h3>@ViewBag.Title</h3>
    <p>
        If you have still not received an email confirmation message within 10 minutes of registering,
        or if you accidentally deleted the message, then click this button and we'll send you another one.
    </p>

    @using (Html.BeginForm("RegenerateEmailConfirmation", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.Hidden("Email", (string)ViewBag.Email)
        <input type="submit" value="Re-Send Email Confirmation" class="btn btn-primary" />
    }
</div>

